<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="login.css" />
    <title id="title"> Cart </title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Teko&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <div class="userGreeting">
      <h1 class="helloGreting">Hello <%= user.username %> </h1>
    </div>
    <div class="logIn">
      <div id="container" class="container">
        <div class="top">
          <header>Your Cart</header>
        </div>
        <div class="items">
          <% trinkets.forEach(item => { %>
          <div class="weaponCard">
            <form action= <%= "/removeFromCart/?productId=".concat(item.id) %> method="post" >
                <button class="removeButton">Remove Item</button>
              </form>
            <div class="weaponPic">
              <img class = "weaponPic" src= <%=
              "https://www.aidedd.org/dnd/images-om/".concat(item.slug,".jpg")
              %> alt="">
              <div class="rare">
                <h3><%= item.rarity %></h3>
                <%= item.name %>
                <div class="description"><%= item.desc %></div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
        <a href="/buy"><button class = "finalizeCart">Finalize purchase</button></a>
      </div>
    </div>
  </body>
</html>
